<h2>Search Book</h2>
<form action='/books' methos='GET'>
    <div>
        <label for='title'>Title: </label>
        <input type='text' name='title' id='title' value='<%= searchName.title %>'>
    </div>

    <div> 
        <label for='publishAfter'>Publish after</label>
        <input type='date' name='publishAfter' id='publishAfter' value=''>
    </div>

    <div> 
        <label for='publishBefore'>Publish before</label>
        <input type='date' name='publishBefore' id='publishBefore' value=''>
    </div>
    <button type='submit'>Search</button>
</form>

<% books.forEach(book=>{
    %>
    <div>   
        <a href='/books/<%= book.id %>'>
            <img height="450" width="350" src="<%= book.coverImagePath %>">
        </a>
    </div>
    <% })%>