<h2>Add New Book</h2>
<form>
    <label for='title'>title :</label>
    <input type='text' name='title' id='title' value=''/>

    <label for='author'>author :</label>
    <select name='author' id='author'>
        <option value=''>flan</option>
        <option value=''>3artlan</option>
    </select>

    <label for="publish-date">publish date:</label>
    <input type='date' name='publishDate' id='publish-date' value=''>

    <label for='pages'>page count:</label>
    <input type='number' name='pages' id='pages' value=''>

    <label for=''>cover image</label>
    <input type='file'>

    <label for='description'>description</label>
    <textarea name='description' id='description' value=''></textarea>
</form>