<header>
    <nav>
        <a href='/' class='logo'>Library</a>
        <ul class='nav-links'>
            <li><a href='/books'>books</a></li>
            <li><a href='/books/new'>add book</a></li>
            <li><a href='/authors'>all authors</a></li>
            <li><a href='/authors/new'>add author</a></li>
        </ul>
    </nav>
</header>