* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #060606;
  color: #fff;
  font-size: 1.2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h2,
h3 {
  text-transform: capitalize;
}

.btn {
  font-size: 1.2rem;
  font-family: unset;
  background-color: #fff;
  color: #161616;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #161616;
  color: #fff;
  border: 1px solid #fff;
}

label {
  font-size: 1.4rem;
  margin-right: 1rem;
  text-transform: capitalize;
}

/* START HEADER */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav .logo {
  font-size: 3rem;
  font-weight: bold;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

header .nav-links a:hover {
  background-color: #9cf0e1;
  color: #161616;
  border-radius: 5px;
}

.container {
  margin: 1rem 2rem;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}

.book {
  max-width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.book * {
  padding-top: 0.2rem;
}

.book *:first-child {
  padding: unset;
}

.book a {
  display: block;
  flex-grow: 1;
}

/* FILEPOND STYLE */
#cover {
  width: 200px;
  height: 320px !important;
}

.book img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.book .author {
  color: #888;
}

form input:not([type="file"]),
form textarea,
form select {
  max-width: 500px;
  height: 40px;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: 0 10px;
  outline: none;
}

form textarea {
  height: 100px;
}

form > * {
  margin: 1rem 0;
}

/* Book Show */
.book-info-container {
  display: flex;
}

.book-info-container > *,
.book-info-container .book-info > *:not(:first-child) {
  margin: 1rem;
}

.book-info-container .book-info {
  flex-grow: 1;
}

.book-info-container .book-image {
  height: 350px;
  max-width: 260px;
}

.book-info-container .book-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* .book-info-container .book-info  */
.control-btns {
  display: flex;
  justify-content: flex-end;
}

.book-info-container .book-info .control-btns form > * {
  margin: 0;
}

.control-btns .btn {
  height: max-content;
  margin: 0 0.4rem;
}

/* Book New */

.new-book .book-info > :first-child {
  margin: 1rem;
}
