* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  color: #fff;
  font-size: 1.2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: none;
  font-size: 1.2rem;
  text-transform: capitalize;
}

/* START HEADER */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav .logo {
  font-size: 3rem;
  font-weight: bold;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

header a:hover {
  background-color: #9cf0e1;
  color: #161616;
  border-radius: 5px;
}

.container {
  margin: 1rem 2rem;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}

.book {
  max-width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.book * {
  padding-top: 0.2rem;
}

.book *:first-child {
  padding: unset;
}

.book a {
  display: block;
  flex-grow: 1;
}

#cover {
  width: 200px;
  height: 300px;
}

.book img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.book .author {
  color: #888;
}

form input:not([type="file"]),
form textarea,
form select {
  outline: none;
  border: none;
  background: #9cf0e1;
  width: 500px;
  height: 40px;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: 0 10px;
}
